<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시글</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/post.css"/>
</head>
<body class="is-preload">
<!-- Header -->
<header id="header">
    <h1><a href="index.html">tread</a></h1>
    <nav class="main">
        <nav class="links">
            <ul>
                <li><a href="#">프로필</a></li>
                <li><a href="#">로그아웃</a></li>
            </ul>
        </nav>
    </nav>
</header>
<!-- Main -->
<div id="main">
    <!-- Contact -->
    <section id="contact" class="four">
        <div class="container">
            <header>
                <h2>게시글</h2>
                <div></div>
            </header>
            <form th:action method="post" enctype="multipart/form-data">
                <div class="row">
                    <img th:src="|/kp3c/user/images/${user.imageFile}|" width="100" height="100" />
                    <div><h6 th:text="${user.nickname}"></h6></div>
                        <img th:each="imageUrl : ${post.imageUrlList}" th:src="|https://kp3c-aws-config-storage.s3.ap-northeast-2.amazonaws.com/${imageUrl.getImgUrl()}|" width="300" height="300"/>
                    <div class="off-12"></div>
                    <div class="col-12">
                        <textarea name="content" id="content" th:text="${post.content}"></textarea>
                    </div>
                    <div class="off-7">
                        <input type="submit" value="수정"/>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
</body>
</html>